@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url("./fonts/ProximaNova-Regular.woff") format("woff");
  }
  @font-face {
    font-family: Proxima Nova;
    font-weight: 600;
    src: url("./fonts/ProximaNova-Semibold.woff") format("woff");
  }
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply text-xl;
  }
  .list-header {
    @apply flex flex-row bg-gray-400;
  }
  .spinner {
    border: 3px solid theme("colors.blue.100");
    border-top: 3px solid theme("colors.blue.500");
    border-radius: 50%;
    @apply animate-spin;
  }
  .spinner-big {
    width: 50px;
    height: 50px;
  }
  .spinner-small {
    width: 20px;
    height: 20px;
  }
}
